@font-face {
    font-family: "Aileron";
    src: url("https://raw.githubusercontent.com/derailedapp/email-assets/refs/heads/master/Aileron-Regular.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Aileron";
    src: url("https://raw.githubusercontent.com/derailedapp/email-assets/refs/heads/master/Aileron-Black.otf") format("otf");
    font-weight: 900;
    font-style: normal;
}
